.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px; /* Set a fixed width */
  text-align: center;
}

.menu-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.details {
  margin-top: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.description {
  font-size: 0.9rem;
  color: #777;
  margin: 5px 0;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
}

.add-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}
