/* General Container */
.container {
/*   max-width: 1200px;
  margin: 0 auto;
  padding: 20px; */
  text-align: center;
}

/* Logo Styling */
.logo {
  width: 200px;
  margin: 20px auto;
}

/* Slogan Styling */
.slogan {
  margin-bottom: 40px;
  font-family: cursive;  /* Use cursive font for slogan */
  color: #ff6347; /* Tomato color */
}

.primary {
  font-size: 2rem;
  font-weight: bold;
}

.secondary {
  font-size: 1.2rem;
  color: #666;
}

/* Menu grid styling */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px; /* Set a fixed width */
  text-align: center;
}



.details {
  margin-top: 10px;
}

.title {
  font-size: 1.4rem;
  font-weight: bold; /* Different weight for title */
  color: #333;
}

.description {
  font-size: 0.9rem;
  color: #777;
  margin: 5px 0;
}

.price {
  font-size: 1rem;
  font-weight: normal;  /* Price weight */
  color: #2c3e50;
}

.add-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 50px;  /* Round button */
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}
